body {
  //color: #44502F;
  
}
.container{
    
    width:530px;
    height:34px;
    margin: auto;
    margin-top: 10px;   /* height/2 = 500px / 2 */
    margin-left: 850px;
    
}
nav {
  //color: #0D3914;
  color: #366097;
  //background: #A0B57D;
  background: #2B81AF;
  border-bottom: 2px solid #556B2F;
  height: 24px;
  text-align: right;
  padding: 0.5em
}
h1 {
  float: left;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
nav a {
  color: #0D3914;
  padding-left: 1em;
  vertical-align: middle;
}

#output-gcode {
  overflow: auto;
}

#controls {
  background: #CCC;
}

.warning {
  color: #a94442;
  background: #f2dede;
  border: solid 1px #ebccd1;
  border-radius: 2px;
  margin: 0.25em;
  padding: 0.25em;
}
